.navbarsection{
    display: flex;
    justify-content: space-between;
    color: white;
}
.logo{
    margin-top: 20px;
    width: 140px;
}

.navbar-list{
    display: flex;
    gap: 20px;
}
.navbar-list-item{
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
}
.navbar-list-item:hover{
    color: #ffc800;
}
