*{
    margin: 0;
    padding: 0;
}
.umumi{
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-left: 30px;
}
.txd{
    width: 300px;
    text-align: justify;
}
.txt{
    margin-top: 40px;
    font-size: 40px;
    color: rgb(29, 122, 122);
    font-weight: bold;
}
.rock{
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-left: 30px;
}
.nm{
    width: 300px;
    text-align: justify;
}
.mn{
    font-size: 40px;
    color: rgb(29, 122, 122);
    font-weight: bold;
    margin-top: 30px;
}

