*{
    margin: 0;
    padding: 0;
}
.umumi{
    display: flex;
    gap: 30px;
}

.txd{
    border: 5px solid transparent;
    padding: 50px;
    margin: 50px;
    border-image: linear-gradient(to right,green,blue,yellow);
    border-image-slice: 1;

}
.txt{
    border: 5px solid transparent;
    padding: 50px;
    margin: 50px;
    border-image: linear-gradient(to right,green,blue,yellow);
    border-image-slice: 1;
    border-left: none;
    border-right:none ;
}  
.rock{
    display: flex;
    gap: 20px;
}
.nm{
    border: 5px solid transparent;
    padding: 50px;
    margin: 50px;
    border-image: linear-gradient(to bottom,green,blue,yellow);
    border-image-slice: 1;
    border-bottom: none;
    border-top: none;
}
.mn{
    border: 5px solid transparent;
    padding: 40px;
    margin: 50px;
    border-image: linear-gradient(to right,green,blue,yellow);
    border-image-slice: 1;
}
